<%= form_with(model: expense, local: true, :html => { :multipart => true }) do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label">Descrição</label>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <label class="label">Data</label>
    <%= form.text_field :date, class: "datepicker" %>
  </div>

   <script>
    document.addEventListener('DOMContentLoaded', function () {
        var options = {
            defaultDate: new Date(),
            setDefaultDate: true
        };
        var elems = document.querySelector('.datepicker');
        var instance = M.Datepicker.init(elems, options);
        // instance.open();
        instance.setDate(new Date());
        $('.datepicker').pickadate({
        selectMonths: true,//Creates a dropdown to control month
        selectYears: 15,//Creates a dropdown of 15 years to control year
        //The title label to use for the month nav buttons
        labelMonthNext: 'Proximo Mês',
        labelMonthPrev: 'Mês Anterior',
        //The title label to use for the dropdown selectors
        labelMonthSelect: 'Selecionar Mês',
        labelYearSelect: 'Selecionar Ano',
        //Months and weekdays
        monthsFull: [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro' ],
        monthsShort: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Maio', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
        weekdaysFull: [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado' ],
        weekdaysShort: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb' ],
        //Materialize modified
        weekdaysLetter: [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
        //Today and clear
        today: 'Hoje',
        clear: 'Limpar',
        close: 'Fechar',
        //The format to show on the `input` element
        format: 'dd/mm/yyyy'
      });
    });
  </script>
  <div class="field">
    <label class="label">Valor</label>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <label class="label">Comprovante</label>
    <%= form.file_field :picture %>
  </div>

  <div class="actions">
    <%= form.submit "Criar despesa"%>
  </div>
<% end %>