<p id="notice"><%= notice %></p>
    <h1>Despesas</h1>

    <table>
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Data</th>
          <th>Valor</th>
          <th>Situação</th>
          <% if can? :approve, Expense %>
            <th>Requisitante</th>
          <% end %>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @expenses.each do |expense| %>
          <tr>
            <td><%= expense.description %></td>
            <td><%= format_date(expense.date) %></td>
            <td><%= format_number_real(expense.value) %></td>
            <td><%= expense.status %></td>
            <% if can? :approve, Expense %>
              <td><%= get_user_name(expense.user_id) %></td>
            <% end %>
            <td>
              <% if can? :approve, Expense %>
                <%= link_to 'Aprovar', approve_expense_path(expense), method: :post %>
              <% end %>
            </td>
            <td>
              <% if can? :deny, Expense %>
                <%= link_to 'Negar', deny_expense_path(expense), method: :post %>
              <% end %>
            </td> 
            <td><%= link_to 'Mostrar', expense %></td>
            <td>
              <% if can? :edit, Expense %>
                <% if can? :edit, expense %>
                  <%= link_to 'Editar', edit_expense_path(expense) %>
                <% end %>  
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

    <br>
    <% if can? :create, Expense %>
      <div class="fixed-action-btn">
        <a href="/expenses/new", class="btn-floating btn-large light-blue darken-1">
          <i class="large material-icons">add_circle</i>
        </a>
      </div>
    <% end %>