<p id="notice"><%= notice %></p>
    <h1>Despesas</h1>

    <table>
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Data</th>
          <th>Valor</th>
          <th>Situação</th>
          <th>Requisitante</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @expenses.each do |expense| %>
          <tr>
            <td><%= expense.description %></td>
            <td><%= expense.date %></td>
            <td><%= expense.value %></td>
            <td><%= expense.status %></td>
            <td><%= expense.user_id %></td>
            <td>
              <% if can? :approve, Expense %>
                <%= link_to 'Aprovar', approve_expense_path(expense), method: :post %>
              <% end %>
            </td>
            <td><%= link_to 'Show', expense %></td>
            <td>
              <% if can? :edit, Expense %>
                <%= link_to 'Edit', edit_expense_path(expense) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <% if can? :create, Expense %>
      <div class="fixed-action-btn">
        <a href="/expenses/new", class="btn-floating btn-large light-blue darken-1">
          <i class="large material-icons">add_circle</i>
        </a>
      </div>
    <% end %>
