<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @expense.description %>
</p>

<p>
  <strong>Data:</strong>
  <%= format_date(@expense.date) %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @expense.value %>
</p>

<p>
  <strong>Status:</strong>
  <%= @expense.status %>
</p>

<p>
  <strong>Comprovante:</strong>
  <%= image_tag(@expense.picture_url, :width => 600) if @expense.picture.present? %>
</p>


<%= link_to 'Editar', edit_expense_path(@expense) %> |
<%= link_to 'Voltar', expenses_path %>
