<!DOCTYPE html>
<html>
  <head>
    <title>Espressito</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</nav>
    <div class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><%= image_tag 'logo.svg' %></a>
        <ul class="right hide-on-med-and-down">
          <p class="navbar-text pull-right">
            <% if manager_signed_in? %>
              <strong><%= current_manager.name %></strong>.
              <%= link_to "Sair", destroy_manager_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
              <% if employee_signed_in? %>
                <strong><%= current_employee.name %></strong>.
                <%= link_to "Sair", destroy_employee_session_path, method: :delete, :class => 'navbar-link'  %>
              <% else %>
                <%= link_to "Sign up", new_manager_registration_path, :class => 'navbar-link'  %> |
                <%= link_to "Login", new_manager_session_path, :class => 'navbar-link'  %>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

